{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header%}
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="grey-overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Username's Profile</h2>
            <hr>
        </div>
    </div>

{% endblock %}