{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="dark-overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2>My Profile</h2>
            <hr>
        </div>
    </div>
    <!-- for viewports smaller than 992px -->
    <div class="row">
        <div class="col">
            {% include 'includes/mobile-profile-content.html' %}
        </div>
    </div>
    
    <!-- for viewports larger than 992px -->
    <div class="row d-none d-lg-flex pb-5">
        <div class="col-lg-6">
            <p class="text-dark bg-light p-2 rounded-1">Default Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" class="update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-light rounded-0 text-uppercase float-end">
                    Update Information
                </button>
            </form>
        </div>
        <div class="col-lg-6">
            <p class="text-dark bg-light p-2 rounded-1">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless text-off-white">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:8 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total|intcomma }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<hr>    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}