* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('/media/space-background.jpg') no-repeat center center fixed;
    background-color: #000;
    background-size: cover;
    color: #f1f1f1;
	padding-top:  162px;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "Montserrat", sans-serif;
}

h1, h2 {
    letter-spacing: 0.3rem;
}

/* Header */
header li {
    padding: 5px 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

/* .header-container {
    padding-top: 162px;
} */

#topnav {
    max-height: 80px;
}

#topnav.col-12 .navlink li:hover {
    color: #fff;
}

.form-search {
	border: 0.01rem solid #fff;
	left: auto;
	right: 0;
	text-align: center;
	position: absolute;
	padding:  20px;
	width:  300px;
	margin: 15px;
	display: none;
    z-index: 2000;
}

/* Colours */

.text-off-white {
    color: #f1f1f1;
}

.text-off-black {
    color: #262626;
}

.text-muted {
    color: #b8bac0 !important;
}

/* dark overlay for products page */
.black-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 162px;
    position: fixed;
    background: #000;
    z-index: -1;
}

.grey-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 162px;
    position: fixed;
    background: #1e1f27;
    z-index: -1;
}
.dark-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 162px;
    position: fixed;
    background: rgb(0,0,0,0.6);
    z-index: -1;
}

.light-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 162px;
    position: fixed;
    background: rgb(255,255,255,0.8);
    z-index: -1;
}

/* Text animation */
.rtl {
	animation:  slidein-right 2s ease;
}

.ltr {
	animation:  slidein-left 2s ease;
}

.btt-button {
    background-color: rgb(0,0,0,0.5);
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

/* Bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}
    /* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Text slide in from the side */
/* Credit:  Adapted from Menucool- http://www.menucool.com/ui/slide-in-when-scrolling */
@keyframes slidein-right {
    0% {
    	opacity: 0;
        transform: translateX(100%);
    }
    100% {
    	opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slidein-left {
    0% {
    	opacity: 0;
        transform: translateX(-100%);
    }
    100% {
    	opacity: 1;
        transform: translateX(0);
    }
}

/* Media Queries */
@media (max-width: 991px) {
    .header-container,
    body,
    .overlay,
    .dark-overlay {
        padding-top: 74px;
    }

    #topnav a {
        font-size: 0.7rem;
    }

    i ~ p {
        font-size: 0.7rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

}

