{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="black-overlay"></div>
<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <h1 class="display-1">404</h1>
            <h2 class="lead">Page not found!</h2>
            <p>It looks like you're lost in space. Click the button below to return to the mother ship.</p>
            <a class="btn btn-outline-light rounded-0" href="{% url 'home' %}">Go back Home</a>
        </div>
    </div>
</div>
{% endblock %}