{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="black-overlay"></div>
<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <h1 class="display-1">500</h1>
            <h2 class="lead">Internal Server Error!</h2>
            <p>Houston, we got a problem. Please click the button below to return home.</p>
            <a class="btn btn-outline-light rounded-0" href="{% url 'home' %}">Go back Home</a>
        </div>
    </div>
</div>
{% endblock %}