{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Space travel agency trips and products.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Rubik:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Own CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2a8c19c224.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Space Travel Agency</title>
</head>

<body>
    <header class="container-fluid fixed-top bg-black">
        <div class="col-12 text-center ">
            <div class="col bg-space">
                <h6 class="text-uppercase mb-0">Free delivery on orders over ${{ free_delivery_threshold }}!</h6>
            </div>
        </div>
        <div id="topnav" class="row d-none d-lg-flex">
            
            <div class="col-12 col-lg-6 text-center text-lg-start my-0">
                <a href="{% url 'home' %}" class="nav-link">
                    <h3 id="logo-font" class="link-secondary text-space"><strong>Space</strong> Travel<span
                            class="fw-light"> Agency</span></h3>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-auto py-lg-0">
                <nav class="navbar navbar-expand navbar-dark pb-0">
                    <div class="container-fluid">
                        <ul class="navbar-nav d-flex ms-auto text-center text-lg-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="user-options" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <div class="text-center">
                                        <i class="fas fa-user"></i>
                                        <p class="my-0">My Account</p>
                                    </div>
                                </a>
                                <div id="nav-drop" class="dropdown-menu" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item text-grey">Product
                                        Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile'  %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link"
                                    href="{% url 'view_bag' %}">
                                    <div class="text-center">
                                        <i class="fas fa-shopping-bag"></i>
                                        <p class="my-0">
                                            {% if grand_total %}
                                            ${{ grand_total|floatformat:2|intcomma }}
                                            {% else %}
                                            $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <!-- Open search bar via javascript toggle -->
                            <li class="nav-item">
                                <a class="nav-link icon-search" href="#">
                                    <div class="text-center">
                                        <i class="fas fa-search"></i>
                                        <p class="my-0">Search</p>
                                    </div>
                                </a>
                                <div class="form-search">
                                    <form method="GET" action="{% url 'products' %}">
                                        <div class="input-group">
                                            <input class="form-control rounded-0" type="text" name="q"
                                                placeholder="Search our site" aria-label="Search our site"
                                                aria-describedby="button-addon">
                                            <button class="btn btn-outline-secondary rounded-0" type="submit"
                                                id="button-addon">
                                                <span class="icon">
                                                    <i class="fas fa-search "></i>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark pb-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>

    </header>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif%}

    {% block content %}
    {% endblock %}

    <footer>
        <div class="row pt-3">
            <div id="footer-link" class="col-12 col-sm-6 col-md-3 text-md-start ps-5 mb-3">
                <h5 class="pb-2">Site links:</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-secondary px-0" href="{% url 'trips' %}">Space
                            Trips</a></li>
                    <li class="nav-item"><a class="nav-link link-secondary px-0" href="{% url 'products' %}">Shop</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link-secondary px-0" href="">About Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mt-2 mt-sm-5 order-md-last mb-3">
                <div class="d-grid col-6 mx-auto">
                    <a href="{% url 'contact' %}" class="btn btn-outline-light rounded-0 px-1">Contact Us</a>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="row">
                    <hr class="d-block d-md-none">
                    <h5 class="pb-3 text-center">Contact</h5>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5 ps-5 ps-md-1 pb-2">
                        <table class="text-muted">
                            <tbody>
                                <tr>
                                    <th scope="row"><i class="fas fa-map-marker fa-sm"></i></th>
                                    <td class="px-3"><small>51 Cedar Street</small></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td class="px-3"><small>Moon Lake</small></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td class="px-3"><small>Florida</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-sm-7 ps-5 ps-md-1 text-muted">
                        <p><i class="fas fa-at fa-sm"></i> <small class="ps-2">spacetravel@agency.com</small></p>
                        <p><i class="fas fa-phone-alt fa-sm"></i> <small class="ps-2">727-856-4744</small></p>
                    </div>
                </div>
            </div>  
        </div>
        <div id='footer-social' class="d-flex justify-content-center">
            <a class="list-inline-item" href="https://www.facebook.com" title="link to facebook" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="list-inline-item" href="https://www.twitter.com" title="link to twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="list-inline-item" hrf="https://www.instagram.com" title="link to instagram" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="list-inline-item" href="https://www.pinterest.com" title="link to youtube" target="_blank" rel="noopener">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <hr>
        <div class="col s12 text-center">
            <p class="copyright text-muted">Copyright &copy; T. Silva <span id='copyright'></span></p>
        </div>
    </footer>

    {% block postloadjs%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>

    <!-- display/hide search bar -->
    <script type="text/javascript">
        $(".icon-search").click(function () {
            $(".form-search").toggle();
        })
    </script>

    <!-- Display and update copyright -->
    <script type="text/javascript">$("#copyright").text(new Date().getFullYear());</script>
    {% endblock %}

</body>

</html>