/* Stripe */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-bottom: 1px solid #7a7c85;
  border-radius: 0px;
  background-color: inherit;
  /* box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; */
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
  background-color: #31333a;
}

/* .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */

.stripe-style-input::placeholder {
    color: #b8bac0;
}


.fieldset-label {
    position: relative;
    right: 1rem;
}

#payment-form .form-control,
#card-element {
    color: #f1f1f1;
    border: none;
    border-bottom: 1px solid #b8bac0 !important;
}