{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header%}
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="grey-overlay"></div>
<div class="container">
    <div class="row mb-5">
        <div class="mx-auto">
            <h1 class="display-4 text-center">Product Management</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col12 col-lg-6 mx-auto">
            <div class="mb-5">
                <h5 class="text-muted">Use the form below to edit a product.</h5>
                <small class="text-muted"><i>* is a required field</i></small>
            </div>
            <form class="update-form" action="{% url 'edit_product' product.id %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="d-flex justify-content-end gap-4 mb-3">
                    <a href="{% url 'products' %}" class="btn btn-outline-light rounded-0">Cancel</a>
                    <button class="btn btn-light rounded-0" type="submit">Edit Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!-- Handle correct colours for category input field -->
<script>
    let categorySelected = $('#id_category').val();
if(!categorySelected) {
    $('#id_category').css('color', '#b8bac0');
};
$('#id_category').change(function() {
    categorySelected = $(this).val();
    if(!categorySelected) {
        $(this).css('color', '#b8bac0');
    } else {
        $(this).css('color', '#f1f1f1');
    }
});
</script>

<!-- Notifying user of what the image will be changed to -->
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}

