{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="black-overlay"></div>
<div class="container-fluid">
    <h1 class="display-4 text-center title">Space Trips</h1>
    {% for product in products %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="row py-5">
        <div class="col-12 col-md-7 order-md-last">
            <img class="img-fluid" src="{{ product.image.url }}">
        </div>
        <div class="col-12 col-md-5 my-auto rtl">
            <h1 class="display-6 mx-auto my-3"><strong>{{ product.name }}</strong></h1>
            <h4 class="text-center"><a href="{% url 'trip_detail' product.id %}" class="btn btn-lg btn-outline-light rounded-0">Read
                    More</a></h4>
        </div>
    </div>
    <hr class="d-md-none">
    {% else %}
    <div class="row py-5">
        <div class="col-12 col-md-7">
            <img class="img-fluid" src="{{ product.image.url }}">
        </div>
        <div class="col-12 col-md-5 my-auto ltr">
            <h1 class="display-6 mx-auto my-3"><strong>{{ product.name }}</strong></h1>
            <h4 class="mx-auto text-center"><a href="{% url 'trip_detail' product.id %}" class="btn btn-lg btn-outline-light rounded-0">Read
                    More</a>
            </h4>
        </div>
    </div>
    <hr class="d-md-none">
    {% endif %}
    {% endfor %}
</div>
{% endblock %}