{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="hero-image" class="col-12 col-md-6">
            <img class="img-fluid" src="{% static 'earthview1.jpg' %}">
        </div>
        <div class="col-12 col-md-6 my-auto text-center text-lg-start ltr">
            <h1 class="display-4"><strong>EXPERIENCE SPACE</strong></h1>
            <h3 class="lead">Discover the beauty of our solar system</h3>
            <h4><a class="btn btn-lg btn-outline-light rounded-0">Read More</a></h4>
        </div>
    </div>
</div>
{% endblock %}